<h1>Login Page</h1>

<form action="/Home/Login" method="post">
    <label for="user">Username:</label>
    <input type="text" id="user" name="username" value="" />
    <label for="pass">Password:</label>
    <input type="text" id="pass"name="password" value="" />
    <button type="submit">Login</button>
</form>